
{% extends 'base.html' %}

{%% load staticfiles }

{% block title %}  Add new Category {% endblock %}

{%block body_block %}
{% if category %}
<form role="form"  id="page_form" method="post" action="/pineapple/category/{{category.slug}}/add_page/">
<h2 class="form-signin-heading">Add an item to <a href="/mango/category/{{category.slug}}/"> {{ category.name }}</a></h2>
<br><br>
<h2>
	{% csrf_token%}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}

	{% for field in form.visible_fields %}
		{{ field.errors }}
		{{ field.help_text }}
		{{ field }}
		<br>
	{% endfor %}
	<br/>
    <button class="btn btn-primary" type="submit" name="submit">Add Item</button>
        </form>
    {%  else %}
    	<p>This is category does not exist.</p>
{%  endif %}
{% endblock %}