{% extends 'base.html' %}	

{% load staticfiles %}

{% block body_block %}

 <form method="post" enctype="multipart/form-data">
    {% csrf_token%}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}

	{% for field in form.visible_fields %}
		{{ field.errors }}
		{{ field.help_text }}
		{{ field }}
		<br>
	{% endfor %}
	<br/>
	
 <button class="btn btn-primary" type="submit" name="submit">Upload</button>
<br>


 {% if docs %}

 	{% for i in docs %}
 	<ul>
 	<li> Name: {{ i.name }} <br>
 	<h1> Upload time:	{{ i.time }}<br>
 	<h1> Number of entries:	{{ i.numEntry }} <br>
 	</li>
 	</ul>
 	<br>
 	{% endfor %}

 	{% endif %}

  </form>


{% endblock %}